<li class="nav-item">
    <a class="nav-link" href="{% url 'guardian_balance' %}">Balance </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'guardian_transfers' %}">Transfers </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'add_student' %}">Add Students</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'show_requests' %}">Your Requests</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'lesson_list' %}">Your Lessons</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'show_schedule' %}">Schedule</a>
</li>
