<div class="card bg-dark border-secondary text-light mb-8">
  <h5 class="card-header">{{ request.topic }}</h5>
  <div class="card-body">
    <div class="d-flex justify-content-around">
      <div class="align-content-center" data-placement="top" data-toggle="tooltip" title="Number of lessons">
        <h4>
          <i class="bi bi-hash "></i> <br />
          <b>{% if request.lessonNum < 10 %}0{% endif %}{{ request.lessonNum }}</b>
        </h4>
      </div>
      <div class="align-content-center" data-placement="top" data-toggle="tooltip" title="Number of weeks to space out lessons in">
        <h4>
          <i class="bi bi-calendar-week "></i> <br />
          <b>{% if request.interval < 10 %}0{% endif %}{{ request.interval }}</b>
        </h4>
      </div>
      <div class="align-content-center" data-placement="top" data-toggle="tooltip" title="Duration of each lesson">
        <h4>
          <i class="bi bi-stopwatch-fill "></i> <br />
          <b>{% if request.duration < 10 %}0{% endif %}{{ request.duration }}</b>
        </h4>
      </div>
    </div>
  
    <hr />

    <div>
      <h6><i class="bi bi-calendar-event"></i> <b>Availability</b></h6>
      <p>{{ request.availability }}</p>
    </div>

    {% if teacher != "" %}
      <div>
        <h6><i class="bi bi-heart-fill"></i> <b>Requesting</b></h6>
        <p>{{ request.teacher }}</p>
      </div>
    {% endif %}

    {% if not student_card %}
    <hr />

    <div>
      <h6><i class="bi bi-person-fill"></i> <b>Requested by</b> {{ request.author.first_name }} {{ request.author.last_name }}</h6>
      
    </div>
    {% endif %}

    {% if show_button %}
      <hr /> 

      <div class="d-flex justify-content-center">
          <a href="{% url 'book_lesson_request' request.id%}" class="btn btn-secondary text-light"> Fulfill request </a>
      </div>
    {% endif %}

    {% if student_card %}
      <hr /> 

      <div class="d-flex justify-content-around">
          <a href="{% url 'edit_requests' request.id %}" class="btn btn-secondary text-light"><i class="bi bi-pen-fill"></i> Edit</a>
          <a href="{% url 'delete_requests' request.id %}" class="btn btn-danger text-light"><i class="bi bi-trash"></i> Delete</a>
      </div>
    {% endif %}


    </div>
</div>
