<div class="card bg-dark border-secondary text-light mb-8">
  <h5 class="card-header">{{ request.topic }}</h5>
  <div class="card-body">
    <div class="d-flex justify-content-around">
      <div class="align-content-center" data-placement="left" >
        <img src="{{ user.gravatar }}" alt="Gravatar of {{ user.username }}" class="rounded-circle profile-image" >
      </div>
    </div>

    <hr />

    <div class="d-flex justify-content-around">
        <div class="profile-text">
            <h3 class="profile-title">{{ user.full_name }}</h3>
            <p class="profile-username">{{ user.email }}</p>
        </div>
    </div>

    </div>
</div>









