{% extends 'base.html' %}
{% block body %}

{% include 'partials/navbar.html' %}
<div class="container">
  <h1>View payments</h1>
  <div class="row">
    <div class="col-8">
      <h2>Transactions</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Name</th>
            <th scope="col">Amount</th>
          </tr>
        </thead>
        <tbody>
          {% for transfer in transfers %}
          <tr class="">
            <th scope="row">{{ transfer.transfer_id }}</th>
            <td>{{ transfer.date_received }}</td>
            <td>{{ transfer.invoice.student.full_name }}</td>
            <td>£{{ transfer.invoice.price}}.00</td>
          </tr>
          {% endfor %}  
        </tbody>
      </table>
    </div>
    <div class="col-4">
      <h2 class="mb-3">Outstanding balances</h2>
      {% for student, balance in balances.items %}
        <div class="card mb-3">
          <h5 class="card-header"><img src="{{ student.mini_gravatar }}" class="rounded-circle profile-image"> {{ student.full_name }}</h5>
          <div class="card-body">
            <p>User has <b>£{{balance}}.00</b> outstanding</p>
            <h7><a href="{% url 'student_payments' student.id %}">View user profile</a></h7>
          </div>
        </div>
      {% empty %}
        <h4>No balances to see</h4>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}