{% extends 'base.html' %}
{% block body %}

{% include 'partials/navbar.html' %}

<div class="container">
    <div class="row">
      <div class="col-12">
        {% if lessons %}
          <h1>Fulfilled Lesson Requests</h1>
            {% for lesson in lessons %}
              <div style="padding-bottom:10px;">
                {% include 'partials/lesson_list.html' with lesson=lesson is_admin=True %}
              </div>
            {% endfor %}
        {% else %}
          <h1> There aren't any confirmed lessons yet</h1>
        {% endif %}
      </div>
    </div>
  </div>

{% endblock %}