{% extends 'base.html' %}
{% block body %}

{% include 'partials/navbar.html' %}

<div class="container">
    <div class="row">
      <div class="col-12">
        {% if lessons %}
          <h1>View all booked lessons!</h1>
          <p>
            <a href="{% url 'home' %}" class="btn btn-lg btn-secondary">Return to home page</a>
          </p>
            {% for lesson in lessons %}
              <div style="padding-bottom:10px;">
                {% include 'partials/lesson_list.html' with lesson=lesson is_admin=True %}
              </div>
            {% endfor %}
        {% else %}
          <h1> There aren't any confirmed lessons yet</h1>
        {% endif %}
      </div>
    </div>
  </div>

{% endblock %}