{% extends 'base.html' %} {% block body %} {% include 'partials/navbar.html' %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>See all requests here!</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="d-flex flex-wrap gap-3 justify-content-around">
        {% for request in data %}
           <div class="w-25">
            {% include 'partials/request_card.html' with request=request show_button=True %}
           </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
