{% extends 'base.html' %}
{% block body %}

{% include 'partials/navbar.html' %}
<div class="container">
  <h1>Student balances</h1>
  {% for student, balance in balances.items %}
    {% if balance > 0 %}
        <div class="w-25">{% include 'partials/balance_card.html' with student=student balance=balance %}</div>
    {% endif %}  
    {% endfor %}
    {% if non_zero_balances == 0 %}
      <h2>No balances to see</h1>
    {% endif %}
</div>
<div class="container">
  <h1>Students with no balance</h1>
  <div class="d-flex flex-wrap">
    {% for student,  balance in balances.items %}
    {% if balance == 0 %}
      <div class="w-25">{% include 'partials/balance_card.html' with student=student balance=balance %}</div>
      {% endif %}  
    {% endfor %}
  </div>
</div>
{% endblock %}