{% extends 'base.html' %}
{% block body %}

{% include 'partials/navbar.html' %}
<div class="container">
  <h1>View payments</h1>
  <div class="row">
    <div class="col-8">
      <h2>Transactions</h2>
      <table>
        {% for transfer in transfers %}
          <tr>
            <td>
              <p>{{ transfer.transfer_id }} | {{ transfer.date_received }} | {{ transfer.invoice.student }}</p>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
    <div class="col-4">
      <h2>Outstanding balances</h2>
      {% for student, balance in balances.items %}
      <p><a href="{% url 'student_payments' student.id %}">{{ student.first_name }} owes {{ balance }} quid</a></p>
      {% empty %}
      <h4>No balances to see</h4>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}