{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row content">

        <div class="col-sm-12 col-md-4">
            <h1> Student Details </h1>
            {% include 'partials/user_profile.html' with user=student %}

            <h1> Invoice </h1>
            <div class="m-3">
                {% include 'partials/invoice_card.html' with invoice=invoice %}
            </div>
        </div>


        <div class="col-sm-12 col-md-8">
            <h1>Confirm tranfer</h1>
            <p> For the date-time field type it in form yyyy-mm-dd hh:mm:ss, This is to be removed later</p>
            <form action="{% url 'approve_transaction' student_id=student.id invoice_id=invoice.invoice_number %}" method="post">
                {% csrf_token %}
                {{ form.media }}
                {% include 'partials/form.html' with form=form %}
                <input type="submit" value="Submit" class="btn btn-primary">
            </form>
        </div>

    </div>
</div>


{% endblock %}