{% extends 'base.html' %}
{% block body %}

{% include 'partials/navbar.html' %}
<!--
<div class="jumbotron">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-lg btn-secondary" href="#" role="button">Learn more!</a>
</div>
-->
<div>
    <div class="container vh-100">
        <div class="row h-100">
            <div class="col-12 my-auto">
                <div class="card cover-card offset-sm-2 offset-md-4 offset-lg-7">
                    <h1 class="cover-heading">MSMS</h1>
                    <p class="cover-text">The true place for anything music related</p>
                    <p>
                      <a href='#' class="btn btn-lg btn-secondary">
                        Sign up
                      </a>
                    </p>
                    <p>
                      <a href='#' class="btn btn-lg btn-secondary">
                        Lesson Request
                      </a>
                    </p>
                  </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}