{% extends 'base.html' %}
{% block body %}
{% include 'partials/navbar.html' %}

<div class="container">
    <div class="row">
      <div class="col-12">
          <h1>Your Invoices</h1>
          <hr />
            <div class="card bg-dark border-secondary text-light">

                <div class="card-body">
                    {% if invoices %}
                    <div class="d-flex justify-content-around">

                        <div>
                            <h6><i class="bi bi-hash"></i> <b>Invoice number</b></h6>
                            {% for invoice in invoices %}
                                <p>{{ invoice.invoice_number }}</p>
                            {% endfor %}
                        </div>
                        <div>
                            <h6><i class="bi bi-bookmark-fill"></i> <b>Unique Reference Number</b></h6>
                            {% for invoice in invoices %}
                                <p>{{ invoice.unique_reference_number }}</p>
                            {% endfor %}
                        </div>
                        <div>
                            <h6><i class="bi bi-calendar"></i> <b>Date</b></h6>
                            {% for invoice in invoices %}
                                <p>{{ invoice.date }}</p>
                            {% endfor %}
                        </div>
                        <div>
                            <h6><i class="bi bi-cash"></i> <b>Price pending</b></h6>
                            {% for invoice in invoices %}
                                <p>
                                    <a href="{% url 'show_invoice_lessons' invoice.id %}" style="text-decoration: none; color: white; " onmouseover="this.style.textDecoration='underline'" onmouseleave="this.style.textDecoration='none'">£ {{ invoice.price }} *</a>
                                </p>
                            {% endfor %}
                        </div>
                        <div>
                            <h6><i class="bi bi-check"></i> <b>Paid</b></h6>
                            {% for invoice in invoices %}
                                {% if invoice.paid %}
                                    <p><i class="bi bi-check-circle text-success"></i></p>
                                {% else %}
                                    <p><i class="bi bi-x-circle text-danger"></i></p>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>

                    {% else %}
                        <h6> you have no invoices </h6>
                    {% endif %}
                </div>
            </div>
      </div>
    </div>
</div>

{% endblock %}

















{##}
{##}
{#{% extends 'base.html' %}#}
{#{% block body %}#}
{##}
{##}
{#{% include 'partials/navbar.html' %}#}
{##}
{#<div class="container">#}
{#    <div class="row">#}
{#      <div class="col-12">#}
{#        <h1>Your Invoices</h1>#}
{#        {% if invoices %}#}
{#          <table class="table">#}
{#            {% for invoice in invoices %}#}
{#              <tr>#}
{#                  <td>#}
{#                  {{invoice.invoice_number}}#}
{#                </td>#}
{#                  <td>#}
{#                  {{invoice.unique_reference_number}}#}
{#                </td>#}
{#                  <td>#}
{#                  {{invoice.date}}#}
{#                </td>#}
{#                  <td>#}
{#                  {{invoice.price}}#}
{#                </td>#}
{##}
{#              </tr>#}
{#              {% endfor %}#}
{#            </table>#}
{#        {% else %}#}
{#          <h2> You don't have any invoices!</h2>#}
{#        {% endif %}#}
{#      </div>#}
{#    </div>#}
{#  </div>#}
{##}
{#{% endblock %}#}