{% extends 'base.html' %}
{% block body %}


{% include 'partials/navbar.html' %}

<div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Your Invoices</h1>
        {% if invoices %}
          <table class="table">
            {% for invoice in invoices %}
              <tr>
                  <td>
                  {{invoice.invoice_number}}
                </td>
                  <td>
                  {{invoice.unique_reference_number}}
                </td>
                  <td>
                  {{invoice.date}}
                </td>
                  <td>
                  {{invoice.price}}
                </td>

              </tr>
              {% endfor %}
            </table>
        {% else %}
          <h2> You don't have any invoices!</h2>
        {% endif %}
      </div>
    </div>
  </div>

{% endblock %}