{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 offset-md-3">
            <h1>Make a request for a lesson</h1>
            
            <form action="{% url 'lesson_request' %}" method="post">
                {% csrf_token %}
                
                {% load widget_tweaks %}
                {% for field in form %}
                <div class="mb-3">
                    {{ field.label_tag }}
                    {% render_field field class="form-control" %}                    
                </div>
                {% endfor %}

                <input type="submit" value="Submit" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>
{% endblock %}