{% extends 'base.html' %}
{% block body %}
{% include 'partials/navbar.html' %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Change password</h1>
      {% for message in messages %}
      <p>{{message}}</p>
    {% endfor %}
      <form action="{% url 'password' %}" method="post">
        {% csrf_token %}
        {% include 'partials/form.html' with form=form %}
        <input type="submit" value="Change password" class="btn btn-primary">
      </form>
    </div>
  </div>
</div>
{% endblock %}
