{% extends 'base.html' %}
{% block body %}

{% include 'partials/navbar.html' %}
<div class="container">
    <div class="row content">
        <div class="col-12 my-auto">
            <h1>View and edit lesson requests</h1>
            &nbsp;
            {% if lesson_requests %}
                {% for request in lesson_requests %}
                <div class="w-25">
                    {% include 'partials/request_card.html' with request=request show_button=False student_card=True %}
                </div>
                {% endfor %}
            {% else %} 
                    <h5>No requests have been made</h5>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}