{% extends 'base.html' %}
{% block body %}

{% include 'partials/navbar.html' %}
<div class="container">
    <div class="row content">
        <div class="col-12 my-auto">
            <h1>View and edit lesson requests</h1>
            &nbsp;
            {% if lesson_requests %}
                {% for lesson in lesson_requests %}
                    <table class="table">
                        <tr>
                            <td>
                                <h3><b>{{ lesson.topic }}</b></h3>
                                <p>Requesting <b>{{ lesson.lessonNum}}</b> lessons every <b>{{ lesson.interval }}</b> weeks</p>
                                <p>Duration: {{ lesson.duration }} minutes</p>
                                <p>Availability: {{ lesson.availability }}</p>
                                <p>Requested teacher: {{ lesson.teacher }} </p>
                                <p><a href="{% url 'edit_requests' lesson.id %}">Edit</a></p>
                                <p><a href="{% url 'delete_requests' lesson.id %}">Delete</a></p>
                            </td>
                        </tr>
                    </table>
                {% endfor %}
            {% else %} 
                    <h5>No requests have been made</h5>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}