{% extends 'base.html' %}
{% block body %}


{% include 'partials/navbar.html' %}

<div class="container">
    <div class="row">
      <div class="col-12">
        {% if lessons %}
          <h1>Fulfilled Lesson Requests</h1>
          <table class="table">
            {% for lesson in lessons %}
              <tr>
                  <td>
                      <h3><b>{{ lesson.topic }}</b></h3>
                      <p>Duration: {{ lesson.duration }} minutes</p>
                      <p>Availability: {{ lesson.availability }}</p>
                      <p>Requested teacher: {{ lesson.teacher }} </p>
                      <p>Date: {{ lesson.date }} </p>
                  </td>
              </tr>
              {% endfor %}
            </table>
        {% else %}
          <h1> You don't have any confirmed lessons yet</h1>
        {% endif %}

      </div>
    </div>
  </div>

{% endblock %}